<html>
  <body>
    <h2>CHECKOUT</h2>
    <form action="/checkout" method="POST">
      Customer name <input type="text" name="txtCustName"><br/>
      Customer phone <input type="text" name="txtCustPhone"><br/>
      <input type="submit" value="SUBMIT" />
    </form>
  </body>
</html>