<html>

  <body>
  <h1>TRANG CHU</h1>
  <ul>
    <li><a href="/customer/viewProducts">View Products</a></li>
    <li><a href="/customer/addCustomers">Add Customer</a></li>
    <li><a href="/customer/viewTeams">View Teams</a></li>
  </ul>
  </body>

  

  
</html>