<html>

  <body>
  <h1></h1>
  <!-- Testimonial Area Starts -->
      <section class="testimonial-area section-padding4">

        <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="section-top2 text-center">
                    <h3><span> Team members</span></h3>
                    <p><i></i></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-slider owl-carousel">
                    <div class="single-slide d-sm-flex">
                        <div class="customer-img mr-4 mb-4 mb-sm-0">
                            <img src="../images/nguyen.jpg" alt="">
                        </div>
                        <div class="customer-text">
                            <h5>Dang Quang Nguyen</h5>
                            <span><i>Leader</i></span>
                            <p class="pt-3"></p>
                        </div>
                    </div>
                    <div class="single-slide d-sm-flex">
                        <div class="customer-img mr-4 mb-4 mb-sm-0">
                            <img src="../images/dinh.jpg" alt="">
                        </div>
                        <div class="customer-text">
                            <h5>Nguyen The Vinh</h5>
                            <span><i>Member</i></span>
                            <p class="pt-3"></p>
                        </div>
                    </div>
                    <div class="single-slide d-sm-flex">
                        <div class="customer-img mr-4 mb-4 mb-sm-0">
                            <img src="../images/phi.jpg" alt="">
                        </div>
                        <div class="customer-text">
                            <h5>Phan Phi Phi</h5>
                            <span><i>Member</i></span>
                            <p class="pt-3"></p>
                        </div>
                    </div>
                    <div class="single-slide d-sm-flex">
                      <div class="customer-img mr-4 mb-4 mb-sm-0">
                          <img src="../images/tam.jpg" alt="">
                      </div>
                      <div class="customer-text">
                          <h5>Nguyen Trong Tam</h5>
                          <span><i>Member</i></span>
                          <p class="pt-3"></p>
                      </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </section>
  </body>
</html>