<html>
  <body>
    <form action="addProducts" method="POST" enctype="multipart/form-data">
      <table align="center" class="table table-bordered">
        <h2 align="center" style="background-color:lightblue;">CONTACT LIST</h2>
        <tr>
          <td>Name</td>
          <td><input type="text" name="txtName" /></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><input type="text" name="txtPhone" /></td>
        </tr>
        <tr>
          <td>Description</td>
          <td><input type="text" name="txtDescription" /></td>
        </tr>
        <tr>
          <td>Slot</td>
          <td><input type="text" name="txtSlot" /></td>
        </tr>
        <tr>
          <td>Image</td>
          <td><input type="file" name="fileImage" /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="ADD NEW" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
