<html>
  <body>
    <h1>ADMIN HOME</h1>
    <ul>
      <li><a href="/admin/addCustomers">Add Customers</a></li>
      <li><a href="/admin/addProducts">Add Products</a></li>
      <li><a href="/admin/listorders">View Report</a></li>
      <li><a href="/admin/viewCustomers">View Customers</a></li>

    </ul>
  </body>
</html>