<html>
  <body>
    <h1></h1>
    <table align="center" class="table table-bordered">
        <tr>
          <td class="section-top2 text-center"><a href="/admin/addCustomers">Add Customers</a></td>
        </tr>
        <tr>
          <td class="section-top2 text-center"><a href="/admin/addProducts">Add Products</a></td>
        </tr>
        <tr>
          <td class="section-top2 text-center"><a href="/admin/listorders">View Report</a></td>
        </tr>
        <tr>
          <td class="section-top2 text-center"><a href="/admin/viewCustomers">View Customers</a></td>
        </tr>
        
    </table>
    
  </body>
</html>