<html>

<body>
  <h1>LOGIN</h1>
  <form action="/admin/login" method="POST">
    Username: <input type="text" name="txtUsername" /><br />
    Password: <input type="password" name="txtPassword" /><br />
    <input type="submit" value="LOGIN" />
  </form>
</body>

</html>